<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @bottom %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @top %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @res %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
